/*
    general design
*/



/*
    header design
*/

header {
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ribbon {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 65px;
}




/*
    navbar design
*/

/* adjusts everything in the nav */
nav {
    border-color: #000000;
    border-top: #DDDDDD solid 1px;
    border-bottom: #DDDDDD solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 10px 60px;
    /* padding-left: 60px;
    padding-right: 35px;
    padding-top: 15px */
}

/* everything on the right side of the nav bar */
.nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 150px;
    background-color: #FFFFFF;
}
    
/* list items in the nav bar */
.nav-right li a {
    display: block;
    color: white;
    padding: 14px 16px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

/* hover effect for the links in the nav bar */
.nav-right li a:hover {
    color: #e1251b;
}

/* everything on the left side of the nav bar */
.nav-left {
    padding-top: 20px;
}




/*
    body design
*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
}

.content {
    padding-left: 100px;
    padding-right: 120px;
}

.title {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 35px;
}

/*
    footer design
*/

footer {
    text-align: center;
    padding: 10px;
}


/*
    ID specific design
*/
